CompileFlags:
  Add:
    - -DSSIZE_MAX
    - -DLWIP_NO_UNISTD_H=1
    - -Dssize_t=long
    - -D_SSIZE_T_DECLARED
    - -I.pio/build/seeed_xiao_esp32c3_debug/config
    - --include-directory=.pio/build/seeed_xiao_esp32c3_debug/config
    - -xc++
    - -std=gnu++2b
  Remove:
    - -mlong-calls
    - -fno-tree-switch-conversion
    - -fstrict-volatile-bitfields
    - -fno-shrink-wrap
    - -march=*
    - -mabi=*
    - -mcpu=*
Diagnostics:
  Suppress:
    - pp_including_mainfile_in_preamble
    - -Wunused-includes
