CompileFlags:
  Add:
    - -DSSIZE_MAX
    - -DLWIP_NO_UNISTD_H=1
    - -Dssize_t=long
    - -D_SSIZE_T_DECLARED
  Remove:
    - -fno-tree-switch-conversion
    - -fstrict-volatile-bitfields
    - -fno-shrink-wrap
    - -march=*
Diagnostics:
  Suppress:
    - pp_including_mainfile_in_preamble
