---
Language:        Cpp
BasedOnStyle:  LLVM
AlignArrayOfStructures: Left
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignEscapedNewlines: Left
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  BeforeElse:      true
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeComma
BreakStringLiterals: false
ColumnLimit:     0
PackConstructorInitializers: Never
IndentPPDirectives: BeforeHash
IndentWidth:     4
MaxEmptyLinesToKeep: 2
PointerAlignment: Middle
SeparateDefinitionBlocks: Always
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterFunctionDefinitionName: true
  AfterFunctionDeclarationName: true
  BeforeNonEmptyParentheses: true
SpacesBeforeTrailingComments: 2
