[submodule "ft8_encoder"]
	path = lib/ft8_encoder
	url = https://github.com/SOTAmat/ft8_encoder.git

[submodule "lib/improv-wifi"]
	path = lib/improv-wifi
	url = https://github.com/improv-wifi/sdk-cpp.git
[submodule "lib/esp32-smbus"]
	path = lib/esp32-smbus
	url = https://github.com/poynting/esp32-smbus/
