/* =========================== Global Variables */
:root {
    --primary-bg-color: #222222;
    --secondary-bg-color: #A7A7A7;
    --primary-text-color: #A7A7A7;
    --secondary-text-color: #222222;
    --button-color: #0A7AF3;
    --active-tab-color: #007bff;
    --backgroundSpotDuplicateColor: #ffdddd;
    --responsive-image-height: 60px;
    --tab-icon-size: 28px;
}

/* =========================== Base Styles */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    font-size: 14px;
    font-family: Arial, sans-serif;
}


h1, h2, h3 {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    margin: 0;
    width: 100%;
}

h1 {
    font-size: 2.0em;
    font-weight: 800;
    padding: 0.5em;
}

h2 {
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.2em 0;
}

h3 {
    font-size: 1.0em;
    font-weight: 400;
    padding: 0.2em;
}

.descriptionHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    margin: 15px 0 15px -20px;
}

/* =========================== Box Sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

/* =========================== Header Bar */
.mainHeaderContainer {
    width: 100%;
    overflow-x: hidden;
}

.headerLogoBarContainer {
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: flex-start; /* Ensure items start from the left */
    align-items: center;
    position: relative;
    padding: 0; /* Maintain any necessary padding */
}

.responsive-image {
    max-height: var(--responsive-image-height);
    height: auto;
    object-fit: contain;
}

.status-container {
    color: var(--primary-text-color);
    margin-left: auto; /* This pushes the status-container to the right */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 15px;
}

.status-container > div {
    text-align: right; /* Ensures text within each div is right-aligned */
    width: 100%; /* Ensures divs take full width of the status-container for proper text alignment */
}

.battery-info-container {
    color: var(--primary-text-color);
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}

.sotamatLaunchButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sotamatLaunchButton {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--button-color);
    padding: 1px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 999px;
}

.sotamatLaunchButtonIcon {
    font-size: 1.5em;
}

/* =========================== Content Area */
.contentSpace {
    overflow-x: auto; /* Allows horizontal scrolling within the content area if needed */
    padding-bottom: 60px; /* Space for tabBar, adjust based on actual tabBar height */
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    white-space: nowrap;
}

.contentPageHeaderContainer {
    display: flex;
    justify-content: space-between; /* Ensures space between the title and the checkbox group */
    align-items: center; /* Vertically centers children */
    width: 100%;
    padding: 0.2em 0;
}

.spotsTableTitle {
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    font-weight: 600;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    margin-left: 0.5em;
    margin-right: auto; /* Ensures it stays left-aligned */
}


/* Hide arrows by default */
table.table-sortable th span::after {
    content: "";
}

/* Arrow for ascending sort */
table.table-sortable th span[data-sort-dir="asc"]::after {
    content: "\25b2"; /* Up-pointing triangle */
}

/* Arrow for descending sort */
table.table-sortable th span[data-sort-dir="desc"]::after {
    content: "\25bc"; /* Down-pointing triangle */
}

/* ---------------------------- SOTA content page */

.spotsTableTitle {
    /* Vertically center the select element */
    display: flex;
    align-items: center;
}

.historyDurationDropdown {
/* Add some padding to the left of the <select> element */
    margin-left: 7px;
}

.showDupsContainer {
    display: flex;
    align-items: center; /* This will ensure vertical alignment */
}

.showDups {
    margin-right: 5px; /* Adds a small gap between the checkbox and the label */
}

.showDupsLabel {
    font-size: 0.6em;
    margin-right: 5px; /* Adds a small gap between the checkbox and the label */
    font-family: Arial, sans-serif;
    color: #222222;
}

.duplicate-row {
    background-color: var(--backgroundSpotDuplicateColor); /* Background color for duplicates */
}

.mode-CW {}
.mode-SSB {}
.mode-FM {}
.mode-FT8 {}
.mode-DATA {}
.mode-OTHER {}  /* catch-all for unrecognized modes */

#sotaTable th:nth-child(3), #sotaTable td:nth-child(3) {
    text-align: right;  /* Right-align the Distance column */
}

#sotaTable th:nth-child(5), #sotaTable td:nth-child(5) {
    text-align: right;  /* Right-align the MHz column */
}

/* ---------------------------- POTA content page */

#potaTable th:nth-child(3), #potaTable td:nth-child(3) {
    text-align: right;  /* Right-align the Distance column */
}

#potaTable th:nth-child(5), #potaTable td:nth-child(5) {
    text-align: right;  /* Right-align the KHz column */
}

/* ---------------------------- CAT Page */

/* Increase button size and space between them */
button.bigthumb {
    font-size: 20px; /* Increase font size */
    padding: 15px 30px; /* Increase padding */
    margin: 10px; /* Add margin to increase space between buttons */
    border-radius: 10px; /* Optional: add border-radius for better aesthetics */
    min-width: 100px; /* Set a minimum width */
    min-height: 50px; /* Set a minimum height */
}

/* Increase size of buttons and input boxes */
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.input-group input {
    font-size: 20px; /* Increase font size */
    padding: 10px; /* Increase padding */
    margin-right: 10px; /* Space between input and button */
    flex-grow: 1; /* Make the input take up available space */
}
.input-group button {
    font-size: 20px; /* Increase font size */
    padding: 10px 20px; /* Increase padding */
    border-radius: 5px; /* Optional: add border-radius for better aesthetics */
}

/* ---------------------------- Settings Page */

.settings-container {
    padding: 10px;
}

.time-sync-section, .wifi-settings-form, .factory-reset-form {
    margin-bottom: 20px;
}

.sync-button, .save-button, .reset-button {
    background-color: var(--button-color) !important; /* Ensure the background color stays */
    color: white !important; /* Ensure text color stays white */
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sync-button:hover, .save-button:hover, .reset-button:hover {
    background-color: #0056b3 !important; /* Slightly darker shade of the original button color for hover state */
}

.sync-button:active, .save-button:active, .reset-button:active {
    background-color: #004094 !important; /* Even darker for active state, ensuring contrast against white text */
}

.sync-button:focus, .save-button:focus, .reset-button:focus {
    outline: 2px solid #004094 !important;
    outline-offset: 2px;
}

.wifi-instructions {
    font-size: 12px;
}

.wifi-client h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.wifi-client {
    background-color: #f0f0f0;
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.wifi-row {
    display: flex;
    justify-content: flex-start; /* Align items to the start of the container */
    align-items: center; /* Align items vertically in the middle */
    margin-bottom: 3.5px; /* Reduced from 7px to further tighten vertical spacing */
}

.wifi-label, .wifi-client input[type="text"], .wifi-client input[type="password"] {
    margin-right: 10px; /* Ensure consistent spacing */
    width: calc(50% - 10px); /* Adjust width accounting for margin */
    font-size: 16px; /* Matching the increased text size */
    padding: 8px; /* Adjust padding to accommodate the text, can be adjusted if needed */
}

/* Specifically target the password labels for adjustment */
.wifi-label:nth-child(2), .wifi-client input[type="password"] {
    margin-left: 0; /* Remove any additional left margin for password elements */
}

.show-password-row {
    display: flex;
    justify-content: flex-start; /* Aligns to the left */
    padding-left: calc(50% + 5px); /* Adjust if necessary to align under the Password input */
    margin-top: 2.5px; /* Reduced for less space above this row */
    margin-bottom: 0; /* Adjust if necessary to reduce extra space below this row */
}

.show-password {
    margin-left: 0; /* Ensures alignment with the left edge of the password input */
    font-size: 16px; /* Match the text size of inputs */
}

/* Ensure the "SSID" label and input are aligned to start, making space for the "Show" under "Password" */
.wifi-label:first-child, .wifi-client input[type="text"]:first-child {
    flex-grow: 2;
}

.wifi-client input[type="text"],
.wifi-client input[type="password"] {
    width: calc(50% - 10px); /* Adjust width if necessary, accounting for margins */
    margin-right: 10px; /* Ensure consistent spacing */
    font-size: 16px; /* Increase font size for better readability */
    padding: 8px; /* Adjust padding to ensure the larger text fits well within the input box */
}

/* Style for valid input fields */
.wifi-client input[type="text"]:valid,
.wifi-client input[type="password"]:valid {
    color: green; /* Color for text when input is valid */
    border: 2px solid green; /* Optional: add a green border to highlight valid inputs */
}

/* Style for invalid input fields */
.wifi-client input[type="text"]:invalid,
.wifi-client input[type="password"]:invalid {
    color: red; /* Color for text when input is invalid */
    border: 2px solid red; /* Optional: add a red border to highlight invalid inputs */
}

/* Apply this style to the containers of the buttons if they're not already flex containers */
.wifi-settings-form, .factory-reset-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers children horizontally in a column layout */
}

/* If the buttons need specific targeting for centering */
.save-button, .reset-button {
    margin: 10px auto; /* Adds top/bottom margin for spacing, auto margins on left/right for centering */
    display: block; /* Ensures the element is block-level for margin auto to work */
}

hr {
    border-color: var(--secondary-bg-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ----------------------------- About Page */

.aboutParagraph {
    padding: 1.5em;
    margin: 0.5em;
}


/* =========================== Footer Navigation Bar */
.tabBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Ensures it spans the full width without causing overflow */
    background: var(--primary-bg-color);
    height: 56px; /* Adjust as needed */
    z-index: 1000; /* Keeps it above other content */
}
.tabBar button {
    flex: 1;
    font-size: normal;
    font-weight: bolder;
    text-align: center;
    padding: 10px 2px 10px 2px;
    border: none;
    background: none;
    color: var(--primary-text-color);
    outline: none;
}

.tabBar button.tabActive {
    font-size: large;
    color: var(--active-tab-color);
}

.tabIcons {
    font-size: var(--tab-icon-size);
}
